{% extends '_base.html' %}


{% block title %}
{{ question.title }}
{% endblock title %}


{% block content %}
<h1>{{ question.title }}</h1>
<p>{{ question.body }}</p>

{% if show_buttons %}
<a class="btn btn-danger" href="{% url 'question_update' question.pk %}">Edit Question</a>
<a class="btn btn-danger" href="{% url 'question_delete' question.pk %}">Delete Question</a>
{% endif %}

<a class="btn btn-danger" href="{% url 'answer_create' question.pk %}">Write Answer</a>
<a class="btn btn-danger" href="{% url 'answer_list' question.pk %}">View All Answers</a>


{% endblock content %}