<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/logo.png" type="image/png">

    <!-- Title -->
    <title>Djora</title>
</head>

<body>

    <section class="section-header mb-5">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark p-1">
                <!-- Brand -->
                <a class="navbar-brand" href="#">Djora</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
                    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <!-- Header - Search Bar -->
                    <form action="" method="POST" class="search ml-4">
                        <input type="text" class="search__input" placeholder="">
                        <button class="search__button">Search</button>
                    </form>

                    <!-- Header - Nav Links -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mr-1">
                            <a class="nav-link text-white" href="#">Sign In</a>
                        </li>
                        <li class="nav-item mr-1">
                            <a class="nav-link text-white" href="#">|</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Register</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <section class="section-main mb-5">
        <div class="container">
            <div class="row main-content">

                <div class="col-md-9 answer-detail">

                    <div class="card shadow-sm mb-2">
                        <div class="card-body">

                            <h5 class="card-title">
                                <img src="img/logo.png" width="30px" class="mr-1 rounded-circle mb-2" alt="">
                                How is django vs flask, is django suitable to create REST api, also can it scale ?
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted border-bottom mb-1 pb-2 small">Posted 3 days ago.
                            </h6>
                        </div>
                    </div>

                    <div class="card shadow-sm mb-2">
                        <div class="card-body">
                            <p class="card-text mt-3">
                                <img src="img/anilkulkarni.png" width="30px" class="mr-1 rounded-circle mb-2" alt="">
                                Relational databases like PostgreSQL, MySQL, Oracle are well supported
                                by django. Additionally Django ORM provides a nice layer of abstraction. Lorem ipsum
                                dolor sit amet consectetur adipisicing elit. Amet quo quis qui aliquid ipsam blanditiis.
                                Amet, labore unde. Incidunt, saepe. Repellendus, possimus sit cum inventore iste est
                                aperiam ut voluptatem.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia laboriosam quam
                                reprehenderit veniam fuga distinctio, et blanditiis ipsam doloremque, voluptates nisi
                                aut dicta, velit corrupti id aliquam atque deleniti? Aut?</p>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aliquam corporis labore
                                accusamus hic architecto nihil ipsa sed. Sint velit quo qui molestiae dignissimos
                                assumenda modi necessitatibus, enim omnis quae. Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Harum modi dolore optio nihil tenetur omnis quod suscipit odio dolorum
                                enim sit, dolores voluptates mollitia ratione a consequuntur sapiente, nemo fuga!</p>

                            <img class="img-fluid mb-4" src="img/pgadmin.png" alt="">

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia laboriosam quam
                                reprehenderit veniam fuga distinctio, et blanditiis ipsam doloremque, voluptates nisi
                                aut dicta, velit corrupti id aliquam atque deleniti? Aut?</p>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aliquam corporis labore
                                accusamus hic architecto nihil ipsa sed. Sint velit quo qui molestiae dignissimos
                                assumenda modi necessitatibus, enim omnis quae. Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Harum modi dolore optio nihil tenetur omnis quod suscipit odio dolorum
                                enim sit, dolores voluptates mollitia ratione a consequuntur sapiente, nemo fuga!</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia laboriosam quam
                                reprehenderit veniam fuga distinctio, et blanditiis ipsam doloremque, voluptates nisi
                                aut dicta, velit corrupti id aliquam atque deleniti? Aut?</p>

                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum aliquam corporis labore
                                accusamus hic architecto nihil ipsa sed. Sint velit quo qui molestiae dignissimos
                                assumenda modi necessitatibus, enim omnis quae. Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Harum modi dolore optio nihil tenetur omnis quod suscipit odio dolorum
                                enim sit, dolores voluptates mollitia ratione a consequuntur sapiente, nemo fuga!</p>


                        </div>

                        <div class="card-footer text-muted">
                            <a href="#" class="card-link text-danger">Like</a>
                            <a href="#" class="card-link text-danger">Comment</a>
                            <a href="#" class="card-link text-danger">
                                <span class="mr-2">Follow: </span>
                                <img src="img/anilkulkarni.png" width="30px" class="mr-1 rounded-circle mb-2" alt="">
                                Anil Kulkarni
                            </a>
                        </div>
                    </div>

                    <div class="comments mt-5">
                        <h4 class="lead text-secondary mb-4"># Add a Comment</h4>
                        <form action="" method="post">
                            <textarea class="form-control" rows="3"></textarea>
                            <button class="btn btn-outline-danger mt-3" type="submit">Comment</button>
                        </form>

                    </div>

                    <div class="comments mt-5">
                        <h4 class="lead text-secondary mb-4"># Comments</h4>

                        <ul class="list-unstyled">
                            <li class="media">
                                <img src="img/anilkulkarni.png" width="25px" class="mr-3 rounded-circle" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Anil Kulkarni</h5>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    sollicitudin. Cras purus odio,
                                    vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                                    vulputate fringilla. Donec
                                    lacinia congue felis in faucibus.
                                </div>
                            </li>
                            <li class="media my-4">
                                <img src="img/octallium.jpg" width="25px" class="mr-3 rounded-circle" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">Octallium</h5>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    sollicitudin. Cras purus odio,
                                    vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                                    vulputate fringilla. Donec
                                    lacinia congue felis in faucibus.
                                </div>
                            </li>
                            <li class="media">
                                <img src="img/freebsd_logo.jpg" width="25px" class="mr-3 rounded-circle" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0 mb-1">FreeBSD</h5>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                    sollicitudin. Cras purus odio,
                                    vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                                    vulputate fringilla. Donec
                                    lacinia congue felis in faucibus.
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-md-3 sidebar-updates">

                    <div class="recent-questions mb-5 pb-3 border-bottom">
                        <h2 class="lead text-secondary mb-4"># Related Questions</h2>

                        <div class="media mb-3">
                            <img src="img/logo.png" width="25px" class="mr-2 rounded-circle" alt="...">
                            <div class="media-body">
                                <p class="mt-0 mb-0 text-secondary">How to choose a right web framework ?</p>
                                <a href="#" class="small text-danger">Reply</a>
                            </div>
                        </div>

                        <div class="media mb-3">
                            <img src="img/logo.png" width="25px" class="mr-2 rounded-circle" alt="...">
                            <div class="media-body">
                                <p class="mt-0 mb-0 text-secondary">Django vs Flask, is django suitable to
                                    create
                                    REST api, also can it scale ?</p>
                                <a href="#" class="small text-danger">Reply</a>
                            </div>
                        </div>

                        <div class="media mb-3">
                            <img src="img/logo.png" width="25px" class="mr-2 rounded-circle" alt="...">
                            <div class="media-body">
                                <p class="mt-0 mb-0 text-secondary">Is Django used in enterprise applications ?</p>
                                <a href="#" class="small text-danger">Reply</a>
                            </div>
                        </div>

                        <div class="media mb-3">
                            <img src="img/logo.png" width="25px" class="mr-2 rounded-circle" alt="...">
                            <div class="media-body">
                                <p class="mt-0 mb-0 text-secondary">How to choose a right web framework ?</p>
                                <a href="#" class="small text-danger">Reply</a>
                            </div>
                        </div>
                    </div>

                    <div class="top-contributors">
                        <h2 class="lead text-secondary mb-4"># Top Contributors</h2>

                        <div class="media mb-3">
                            <img src="img/anilkulkarni.png" width="25px" class="mr-2 rounded-circle" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0 mb-0 text-secondary">Anil Kulkarni</h5>
                                <a href="#" class="small text-danger">Follow</a>
                            </div>
                        </div>

                        <div class="media mb-3">
                            <img src="img/octallium.jpg" width="25px" class="mr-2 rounded-circle" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0 mb-0 text-secondary">Octallium</h5>
                                <a href="#" class="small text-danger">Follow</a>
                            </div>
                        </div>

                        <div class="media mb-3">
                            <img src="img/logo.png" width="25px" class="mr-2 rounded-circle" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0 mb-0 text-secondary">Anil Kulkarni</h5>
                                <a href="#" class="small text-danger">Follow</a>
                            </div>
                        </div>

                        <div class="media mb-3">
                            <img src="img/logo.png" width="25px" class="mr-2 rounded-circle" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0 mb-0 text-secondary">Anil Kulkarni</h5>
                                <a href="#" class="small text-danger">Follow</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Feather Icons -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="vendor/js/jquery-3.4.1.min.js"></script>
    <script src="vendor/js/bootstrap.bundle.min.js"></script>
</body>

</html>