body {
    background-color: #f0eeee
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("../vendor/fonts/IBMPlexSans-Regular.woff2") format("woff2"), url("../vendor/fonts/IBMPlexSans-Regular.woff") format("woff"), url("../vendor/fonts/IBMPlexSans-Regular.tff") format("truetype"), url("../vendor/fonts/IBMPlexSans-Thin.woff2") format("woff2"), url("../vendor/fonts/IBMPlexSans-Thin.woff") format("woff"), url("../vendor/fonts/IBMPlexSans-Thin.tff") format("truetype"), url("../vendor/fonts/IBMPlexSans-Bold.wotf2") format("woff2"), url("../vendor/fonts/IBMPlexSans-Bold.woff") format("woff"), url("../vendor/fonts/IBMPlexSans-Bold.tff") format("truetype")
}

.text-topic {
    font-size: 0.9rem
}

.nav-link-q:hover {
    background-color: #902723;
    padding: 2px 10px
}

.feather-cpu {
    height: inherit;
    fill: #fff
}

.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    height: 1.75rem;
    background-color: #fff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 3px
}

.search__input {
    font-family: inherit;
    font-size: inherit;
    width: 90%;
    border: none;
    border-radius: 3px
}

.search__button {
    background-color: #f0eeee;
    border: none;
    color: #777;
    overflow: hidden;
    height: inherit;
    border-radius: 3px
}

.search__button:hover {
    background-color: #ccc;
    color: #333
}

.topic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.topic__image {
    width: 25px;
    height: 25px
}

.sidebar-categories {
    position: -webkit-sticky;
    position: sticky;
    top: 0
}

.section-header {
    background-color: #a32b27
}

.answer-detail p {
    overflow: hidden;
}