<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="img/logo-quddle-cat.png" type="image/png"> -->

    <!-- Title -->
    <title>Djora</title>
</head>

<body>

    <section class="section-header mb-5 shadow-sm sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark p-1">
                <!-- Brand -->
                <a class="navbar-brand" href="#">
                    Djora
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
                    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <!-- Header - Search Bar -->
                    <form action="" method="POST" class="search ml-4">
                        <input type="text" class="search__input" placeholder="">
                        <button class="search__button">Search</button>
                    </form>

                    <!-- Header - Nav Links -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mr-1">
                            <a class="nav-link text-white" href="#">Log In</a>
                        </li>
                        <li class="nav-item mr-1">
                            <a class="nav-link text-white" href="#">|</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Sign Up</a>
                        </li>
                        <!-- Ask Question -->
                        <!-- <li class="nav-item mr-1">
                            <a class="nav-link text-white" href="#">+ Ask Question</a>
                        </li> -->
                        <!-- Dropdown -->
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="img/freebsd_logo.jpg" width="25px" class="rounded-circle" alt="">
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Profile</a>
                                <a class="dropdown-item" href="#">
                                    Questions
                                    <span class="bg-danger text-white small p-1">3</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    Answers
                                    <span class="bg-success rounded ml-1 text-white small p-1">13</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    Followers
                                    <span class="bg-primary rounded ml-1 text-white small p-1">23.4k</span>
                                </a>
                                <a class="dropdown-item" href="#">
                                    Following
                                    <span class="bg-secondary rounded ml-1 text-white small p-1">145</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Logout</a>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content-section">
                    <div class="mb-3">
                        <div class="mb-3">
                            <img class="rounded-circle" src="./img/anilkulkarni.png" width="100px">
                        </div>
                        <div class="">
                            <h2 class="account-heading">Anil Kulkarni</h2>
                            <p class="text-secondary">anil@octocon.mail</p>
                        </div>
                    </div>
                    <!-- FORM HERE -->
                    <form action="" method="POST" enctype="multipart/form-data">

                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Profile Info</legend>
                            <div class="form-group">
                                <label for="exampleFormControlFile1">Update Profile Pic</label>
                                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" aria-describedby="emailHelp"
                                    placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <input class="btn btn-danger" type="submit" value="Update">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- Feather Icons -->
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="vendor/js/jquery-3.4.1.min.js"></script>
    <script src="vendor/js/bootstrap.bundle.min.js"></script>
</body>

</html>